:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}


/* HEADER */

header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}


/* CD */

.cd {
    display: flex;
    margin: auto;
    width: 200px;
    opacity: 100%;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}


/* CONTROL */

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}


/* PLAYLIST */

.playlist {
    margin-top: 408px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title,
.song.active .option li a {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}
.song .option li{
    margin: 0 8px;
}

.song .option li a{
    color: black;
}


/* css modal */
/* ::-webkit-scrollbar-corner{

} */
::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
} 
.comment{
    
    position: fixed;
    bottom: 2%;
    left: 65%;
    width: 20%;
    min-height: 500px;
    background-color: rgb(170, 170, 170);
    overflow-y: scroll;
    display: none;
}
.hide{
    display: block;
}
.comment .input-comment{
    position: absolute;
    margin: 10px;
    right: 0;
    left: 0;
    min-height: 70px;
    font-size: 15px;
    padding: 10px 8px;
    outline: 0;
}


.comment .input-name{
    width: 70%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 10px;
    top: 85px;
    height: 30px;
    outline: 0;
}
.comment .btn-comment{
    position: absolute;
    width: 20%;
    margin: 10px;
    top: 85px;
    height: 30px;
    right: 0;
}

.comment .comment-body{
    position: absolute;
    margin: 10px;
    top: 135px;
    right: 0;
    left: 0;
    background-color: white;
    /* max-height: 600px; */
    font-size: 15px;
    padding: 10px 8px;
    outline: 0;
    
}
.cmt{
    border-radius: 5px;
    border: 1px solid ;
    display: flex;
    justify-content: flex-start;
    background-color:while;
    margin-bottom: 10px;
    min-height: 60px;
}
.cmt .logo{
    align-self: center;
    width: 40px;
    height: 40px;
    background-color: #111;
    border-radius: 50%;
    margin: 10px;
}

/* .cmt .logo img {
    background-image: url('https://lh3.googleusercontent.com/N065semw08v7Nb6P2qiTmK3QYUklGEAOeoJ7ELHV9jcfygJVVpt80S6vJ_ivXKPzDViLc6KLLgTL7eTzsOY4AHXLuYhhX95cN5m9PMzbqGfn6RjoWjLMQ7wdcp-RO3nqPU6CxODXbdxK-Q8lLcrX2igh2_FCSlTWM_rk23aLegvO4mjo_tuJKNLi7hS4fr_BIWNnKL2ew2Qt9lqgzpHLs2HVGBf29d0eCuPPiaOmt94PJ4xBda7TpYtPeLDokTzpRy8kpIG7OwDTn8Rgx5SJof-oSrnrqgwNvJWxJqWYN7mTS351enrqukxpUR8cBFjTT7nVzxWK3bSiYyXBg55g3dIlKlJZ0SF_HLP5-TtuFHCT0rvxsHoX5undkTStGqcDOpmEt3u7vJQX3FREbChzgzxRyFgvVDuHfvGLgUkt1cwxfXwHLkg3239lw7jglDFdFgy2sxju7MzRhu4XFQgSKPomco7Q72qM6Bpgare_0UOsYFR2bxNxobgLqqfzdjrJEvoK1l9uo1OoLDUWoCEm3ljXGu5EsvWpbbx7e0ROn5IXDtPyO5vl3vD1lbqw8Nlm7gGb7K42letgNScb_U20C3yOTNwrCrMiCsd3tKA3Sdqy3rtEje8QvF7rlVZCnRZgufzhO1FlS2CN7M6o0tkywSA7dqpKwI-2mYv4621ZEBeSY1YwpM_kbPyePA155URVtXRSujNPbKhvkurTBwW4DpZMs77bhYGFsRSKTQeYlLWWBf7ql289LKwckNv3v3FqpwpXK9UhvdGYlf4F5BHI0AiAXV-Xb7Ut=s929-no?authuser=1');
    width: 100%;
} */
.username{
    margin-top: 5px;
    text-transform: uppercase;
}

.des{
    margin: 5px 0;
    font-size: 14px;
}